<div class="form-group m-h-n clearfix">
	<div class="col-sm-6">
   	<div class="input-group m-b">
     		<span class="input-group-addon ti-facebook"></span>
     		<input type="text" name="facebook" ng-model="formData.facebook" class="form-control" placeholder="Facebook profilr url">
	</div>
</div>
<div class="col-sm-6">	
	
   	<div class="input-group m-b">
     		<span class="input-group-addon ti-google"></span>
     		<input type="text" name="Google+" ng-model="formData.gplus" class="form-control" placeholder="Google+ profile url">
	</div>
</div>	</div>

<div class="form-group m-h-n clearfix">
	<div class="col-sm-6">	
   	<div class="input-group m-b">
     		<span class="input-group-addon ti-twitter-alt"></span>
     		<input type="text" name="Twitter" ng-model="formData.twitter" class="form-control" placeholder="Twitter profile url">
	</div>
</div>	
<div class="col-sm-6">	
	   	<div class="input-group m-b">
     		<span class="input-group-addon ti-linkedin"></span>
     		<input type="text" name="LinkedIn" ng-model="formData.linkedin" class="form-control" placeholder="LinkedIn profile url">
	</div>
</div>	</div>
              

<div class="text-center">
    <span class="glyphicon glyphicon-heart"></span>
    <h3>Its Great You did it!</h3>
    
    <button type="submit" class="btn btn-danger" ng-disabled="profileCompletionForm.$invalid">Submit</button>
</div>