<div class="form-group">
    <label for="sector" class="control-label">Company sector*</label>
   <select xt-validate required class="form-control" name="sector" data-bv-field="sectors" ng-model="selection.sectors" ng-options="sectorNames.sectorName for sectorNames in sectorlist" msg-required="Please select one sector">
        <option value="">Select a Sector</option>
        <option value="other">Other</option>                         
    </select>
</div>

<div class="form-group">
    <label for="website" class="control-label">Website url</label>
    <input type="text" ng-pattern="urlPattern" placeholder="http://www.example.com" xt-validate msg-pattern="Please enter proper website url" class="form-control" name="website" ng-model="formData.webSite">
</div>

<div class="form-group row m-h-n clearfix">
 
    <div class="col-xs-6 col-xs-offset-3">
        <a ui-sref="page.profileCompletion.contact" class="btn btn-block btn-info" ng-disabled="profileCompletionForm.sector.$invalid"> Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
    </div>

</div>
