<div class="container-fluid">
<div class="row">
  <div class="p-md col-md-12">

<div class="app-aside-inner" style="position: static;">

<div class="col-md-12">
 <ul class="nav nav-pills nav-wizard">
        <li class="{{step.active}}" ng-repeat="step in touterConfig.steps" ng-click='FnShowHideNavigation($index)'>

        <a data-toggle="tab" style="border-radius:0px;"><b class="badge m-r-xs">{{step.stepNo}}</b>{{step.name}}</a><div class="nav-arrow"></div></li>

    </ul>
  </div>
  </div>
</div>
</div>
<div class="row" ng-hide="touterConfig.websiteConfigContainer">
  <div class="p-md col-md-12">
<div growl></div>
  <div class="col-md-12">
<div class="panel panel-default {{touterConfig.confWebsiteClass}}">
        <div class="panel-heading bg-white bg text-lt">
          Touter Bee Configuration
         
        </div>
      
        <div class="panel-body">
       
        <form id="config-first-form" name="config-first-form" role="form" class="form-validation ng-pristine ng-invalid ng-invalid-required" role="form" xt-form novalidate>
      <!--   <div id="form-views" ui-view="" class="ng-scope"> -->
          <div class="col-xs-6 col-xs-offset-3"><div class="form-group row m-h-n clearfix">
              <label for="configWebsite">website Name</label>
              <select xt-validate required class="form-control ng-pristine ng-invalid ng-invalid-required" name="configWebsite" data-bv-field="website" ng-model="selection.configWebsite" ng-options="websites.websiteName for websites in touterConfig.websiteList" msg-required="Please select one website"><option value="" selected>select one website</option></select>
          </div></div>


          <div class="form-group row m-h-n clearfix ng-scope">
         
          <div class="col-xs-6 col-xs-offset-5">
          <!--   <a href class="btn btn-block btn-info" ng-disabled="" ng-click="FnWebsiteConfig()"> Configure <span class="glyphicon glyphicon-cog"></span>
            </a> -->
            <a href="" class="text-sm btn btn-xs btn-rounded btn-stroke btn-info m-r" ng-click="FnWebsiteConfig()">
          <i class="fa fa-cog fa-2x pull-left"></i>
          <span class="block clear block text-left m-v-sm">Configure Website
          </span>
        </a>
        </div>

</div>
<!-- </div> -->
     <!--  </form> -->
        </div>
      </div>
</div></div></div>
<div ng-class="{'p-md animated fadeInDown row':touterConfig.selectFeatureContainer,'p-md row ng-hide':!touterConfig.selectFeatureContainer}" ng-show="touterConfig.selectFeatureContainer">
<!-- <div class="{'p-md animated fadeInDown row':selectFeatureContainer,'p-md animated fadeOut row ng-hide':!selectFeatureContainer}"> -->
<!--   <div class=""> -->
<div class="panel-body">
         <!--  <div class="box-cell scrollable hover">
            <div class="box-inner">
            
              <div class="list-group list-group-md no-border no-radius no-margin"> -->
                <div class="list-group-item clear m-b-sm">
          <!--         <a href class="w-thumb-md pull-left m-r" ng-repeat="feature in touterConfig.featureList"><img src="../{{feature.imgUrl}}" class="img-thumbnail img-responsive" ng-click="fnSelectFeature($index,feature._id.$oid,feature.imgUrl)">
                  <i class="fa fa-check-circle" ng-show="false"></i>
                  </a> -->
                 
                <div ng-repeat="feature in touterConfig.featureList" ng-click="fnSelectFeature($index,feature._id.$oid,feature.imgUrl);{{feature.clickFn}}" class="m-l-md pull-left" style="background:url(../{{feature.imgUrl}}) center center; background-size:cover">
                    <div class="p-sm bg-white-opacity text-center">
                      <a href="" class="w-xxs inline">
                        <img src="../{{feature.imgUrl}}" class="img-circle img-responsive">
                      </a>
                      <div class="m-b m-t-sm h5">
                        <p class="">{{feature.name}}</p> <!-- <i class="fa fa-check-circle text-success {{feature.active}}"></i> -->
                      </div>
                      
                      
                    </div>
                  </div>
                </div>
              </div>
            <!-- </div> -->
          <!-- </div> -->
        <!-- </div> -->
<!-- </div> -->
       </div>
<!-- </div> -->
  <!-- <div class="row"> --><div ng-class="{'row animated m-md fadeInDown':touterConfig.selectedFeatureAction,'row m-md ng-hide':!touterConfig.selectedFeatureAction}" ng-show="touterConfig.selectedFeatureAction">

    <div class="p-lg col-md-12 panel panel-default">
        <div class="panel-body">
          <!-- <form id="website-config-form" name="website-config-form" class="form-validation ng-pristine ng-invalid ng-invalid-required" role="form" xt-form novalidate> -->
      <!--   <div id="form-views" ui-view="" class="ng-scope"> -->
          <div class="col-xs-6 col-xs-offset-3"><div class="form-group row m-h-n clearfix">
            <label for="eventList" bs-backdrop='false' bs-modal="modal">Broadcast Type</label>
            <button type="button" name='eventList' class="btn btn-default form-control" data-animation="am-flip-x" ng-model="touterConfig.selectedFeatureType" data-html="1" ng-options="featureType.btId.$oid as featureType.name for featureType in touterConfig.featureTypesList" bs-select>Share</button>
          </div>
          </div>


          <div class="form-group row m-h-n clearfix ng-scope">
 
          <div class="col-xs-6 col-xs-offset-5">
          <!--   <a href class="btn btn-block btn-info" ng-disabled="" ng-click="FnWebsiteConfig()"> Configure <span class="glyphicon glyphicon-cog"></span>
            </a> -->
            <a href="" class="text-sm btn btn-xs btn-rounded btn-stroke btn-info m-r" ng-click="fnSelectFeatureType()">
          <i class="fa fa-cog fa-2x pull-left"></i>
          <span class="block clear block text-left m-v-sm">Proceed Website
          </span>
        </a>
        </div>

</div>
<!-- </div> -->
      </form>
<!-- <form class="form-horizontal">

  <div fg-edit fg-schema="myForm.schema" ng-model="myForm"></div>
{{myForm}}
</form> -->

<!-- <form novalidate class="form">
  <div fg-form
       fg-form-data="myFormData"
       fg-schema="myForm.schema">
  </div>
</form> -->
        </div>
      </div>
    </div>
<!--   </div> -->
<div ng-class="{'p-md animated fadeInDown':touterConfig.loadIframeContainer,'p-md ng-hide':!touterConfig.loadIframeContainer}" ng-show="touterConfig.loadIframeContainer">
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading bg-white">
          <label for="lock">Configuration Form
           <img src="../{{touterConfig.featureImg}}" class="col-sm-2 img-responsive pull-right clearfix">
           <small class="text-muted"></small></label>
        </div>
        <div class="panel-body">

       <!--  <form name="customForm" id="config-sec-form" name="config-sec-form" role="form" nv-file-drop ng-submit="FnSaveSocialConfigDetails()" uploader="uploader"  class="form form-validation" xt-form role="form" novalidate> -->
       <form name="customForm"  ng-submit="FnSaveSocialConfigDetails()"  class="customForm form form-validation" role="form" xt-form novalidate>

         <div class="form-group" ng-model="touterConfig.clickEventLabel">
           <label for="Event">Event status</label>
           
            <span ng-class="{'form-control text-ellipsis':touterConfig.deleteEventElem ,'text-ellipsis form-control b-warning':!touterConfig.deleteEventElem}">
              {{touterConfig.clickEventLabel}} <!-- Scope value accessing from parent scope --><a href="" ng-model="touterConfig.deleteEventElem" class="pull-right text-muted"><i class="fa fa-check-circle text-success" ng-show="touterConfig.deleteEventElem"></i><i class="fa fa-warning text-warning" ng-hide="touterConfig.deleteEventElem"></i></a>
              <a href="" ng-model="touterConfig.deleteEventElem" class="pull-right text-muted ng-hide p-h-xs" ng-show="touterConfig.deleteEventElem" ng-click='fnDeleteEvent()'><i class="fa fa-trash"></i></a>
            </span>
           
            </div>
            <div fg-form fg-form-data="formData" fg-schema="schema" form-data="formData">
          
             </div>
            <button type="submit" class="btn btn-primary glyphicon glyphicon-floppy-save" ng-class="{ disabled: customForm.$invalid || touterConfig.valid}">Save</button>
          </form>
   
        </div>
      </div>
    </div>
    <div class="col-md-8">
       <div class="panel panel-default">
        <div class="panel-heading bg-white">
           <label for="lock">config</label> <button bs-checkbox name="lock" class="col-md-3 btn btn-sm btn-addon btn-info pull-right" ng-model="button.toggle" ng-click="sendMessageToIFrame($event)"><i class="fa {{touterConfig.freezeIcon}}"></i>{{touterConfig.freezeText}}</button>
          <small class="text-muted"></small>
        </div>
        <div class="panel-body"> 
             <!--  <div ng-style="divLoading"> 
        <img src="images/loading.GIF" alt="" /> 
    </div>  -->

          <!-- <div ng-if="loading">Loading...</div> -->
          <div ng-style="divFrameHolder" class="embed-responsive embed-responsive-16by9"  data-iframe>
              <!-- <iframe ng-model="receiver" ng-model="controlBoolean" class="embed-responsive-item" src="http://dev.baabtra.com"></iframe> -->
              <!-- <div data-gist="{{gistId}}"></div> -->
          </div>
         </div>
      </div> 
    
    </div>
  
    </div>
  </div>
</div>
 </div>