

<div class="modal  fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">        
        <h4 class="modal-title text-dark">Please verify your account {{socialSiteName}}</h4>
      </div>
      <div class="modal-body">
<div class="box">

        <div class=" m-t-lg font-bold text-dark ">            
      <div data-placement="top" data-type="info" data-html="true" data-animation="am-fade-and-scale" class="text-u-c">
          Please Verify your account for using this application <hr><br/>
          <a href="https://www.gmail.com/">Click here to verify</a>
      </div>
       
    </div>
  
    </div>
    </div>   
</div>
</div> 
</div> 